<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='time.js') }}"></script>
        <script src="{{ url_for('static', filename='weather.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <title>Home</title>
    </head>
    <body>
        <div class="main-content">
            <div class="top-section">
                <div class="left">
                    <h1>{{ name }} - <span style="color: {{ topic_color }}">{{ topic }}</span></h1>
                    <a href="/">Headlines</a>
                    <a href="/topic/world">World</a>
                    <a href="/topic/technology">Technology</a>
                    <a href="/topic/entertainment">Entertainment</a>
                    <!-- <a href="/topic/sports">Sports</a> -->
                    <!-- <a href="/topic/science">Science</a> -->
                    <!-- <a href="/topic/health">Health</a> -->
                </div>
                <div class="right">
                    <div class="search">
                        <form action="/search" class="search-form">
                            <input class="search-bar" type="text" id="q" name="q" placeholder="Search for a story..."{% if query %} value="{{ query }}"{% endif %}></input>
                            <!-- <input class="search-button" type="submit" value=""></input> -->
                            <button class="search-button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6"/></svg></button>
                        </form>
                    </div>
                    <div class="time">
                        <p id="timeText"></p>
                    </div>
                    <div class="weather">
                        <p id="weatherText"></p>
                    </div>
                </div>
            </div>
            <div class="story-sections">
                <div class="stories-left">
                {% for story in news %}
                    {% if story.img %}
                    <a class="no-link" href="{{ story.link }}">
                        <div class="story">
                            <img class="story-image" src="{{ story.img }}">
                            <div class="story-info">
                                <p class="story-title">{{ story.title }}</p>
                                <p class="secondary story-desc">{% if story.mediaFavicon %}<img class="story-media-icon" src="{{ story.mediaFavicon }}">{% endif %}{{ story.media|replace("BBC", "BBC News") }} • <span class="story-date">{{ story.date }}</span>{% if story.reporter %} • {{ story.reporter }}{% endif %}</p>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="stories-right">
                    {% for story in news %}
                        {% if not story.img %}
                        <a class="no-link" href="{{ story.link }}">
                            <div class="story">
                                <div class="story-info">
                                    <p class="story-title">{{ story.title }}</p>
                                    <p class="secondary story-desc">{% if story.mediaFavicon %}<img class="story-media-icon" src="{{ story.mediaFavicon }}">{% endif %}{{ story.media|replace("BBC", "BBC News") }} • <span class="story-date">{{ story.date }}</span>{% if story.reporter %} • {{ story.reporter }}{% endif %}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
